<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <button mat-icon-button (click)="goPrev()" [disabled]="!isEnabledPrev">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div class="col-md-10">
            <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
            <mat-card *ngIf="!isLastQues">
                <span>{{questionnaireObj.questionText}}</span>
                <ul>
                    <li *ngFor="let option of questionnaireObj.options; let i = index">
                        <button class="optionBtn" [ngStyle]="{'backgroundColor': backgroundColor}" (click)="checkAnswer(questionnaireObj.questionID,option.optionID,i)" mat-raised-button>{{option.optionText}}</button>
                    </li>
                </ul>
            </mat-card>
            <mat-card *ngIf="isLastQues">
                <mat-card-content>
                    Quiz complete. 
                    <span>Score : {{marksCounter}}/{{noOfQues}}</span>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-1">
            <button mat-icon-button (click)="goNext()" [disabled]="!isEnabledNext">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>